.button{
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  height: 40%;
  font-size: small;
  border-radius: 0.4rem; 
  background-color: #606eeb;
  color: rgb(255, 255, 255);
  border-style: none;
}

.button:hover {
  background-color: #353d8c;
  color: white;
}