input{
  height: 1.5rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 0.1rem;
  border: 0;
  outline: none;
  border: 1.6px solid #838383;
}

label{
  margin-bottom: 0.2rem;
}

#acronym{
  width: 25%;
  margin-bottom: 0.5rem;
}
